.DS_Store
.idea/
.vscode/
node_modules/
**/node_modules/
cloudflare/
!cloudflare/
cloudflare/*
!cloudflare/beauty-worker/
cloudflare/beauty-worker/
dist/
**/dist/
.wrangler/
**/.wrangler/
coverage/
.cache/
.turbo/
.env
.env.*
.dev.vars
.tools/
